{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <h6>To Do:</h6>
        {% for task in data.tasks["ToDo"] %}
          <li>
            <form method="post" action="/task/{{ task.id }}">
              <input type=submit class="checkbox" value="&#9744;">
            </form>
            <p class="task-title">{{ task.title }}</p>
            {% if task.description != "" %}
              <p class="task-description">:&nbsp;{{ task.description }}</p>
            {% endif %}
          </li>
        {% endfor %}

        <h6>Doing:</h6>
        {% for task in data.tasks["Doing"] %}
          <li>
            <span class="checkmark">&check;</span>
            <p class="task-title">{{ task.title }}</p>
            {% if task.description != "" %}
              <p class="task-description">:&nbsp;{{ task.description }}</p>
            {% endif %}
          </li>
        {% endfor %}
        

        <h6>Done:</h6>
        {% for task in data.tasks["Done"]["recent"] %}
          <li>
            <form method="post" action="/task/{{ task.id }}">
              <input type=submit class="checkbox" value="&#9744;">
            </form>
            <p class="task-title">{{ task.title }}</p>
            {% if task.description != "" %}
              <p class="task-description">:&nbsp;{{ task.description }}</p>
            {% endif %}
          </li>
        {% endfor %}
        {% if (data.tasks["Done"]["recent"]|length + data.tasks["Done"]["old"]|length) <= 5 %}
          {% for task in data.tasks["Done"]["old"] %}
            <li>
              <form method="post" action="/task/{{ task.id }}">
                <input type=submit class="checkbox" value="&#9744;">
              </form>
              <p class="task-title">{{ task.title }}</p>
              {% if task.description != "" %}
                <p class="task-description">:&nbsp;{{ task.description }}</p>
              {% endif %}
            </li>
          {% endfor %}
        {% else %}
          <details>
            <summary>See All</summary>
            {% for task in data.tasks["Done"]["old"] %}
              <li>
                <form method="post" action="/task/{{ task.id }}">
                  <input type=submit class="checkbox" value="&#9744;">
                </form>
                <p class="task-title">{{ task.title }}</p>
                {% if task.description != "" %}
                  <p class="task-description">:&nbsp;{{ task.description }}</p>
                {% endif %}
              </li>
            {% endfor %}
          </details>
        {% endif %}
        
      </ul>
    </div>
    <div class="col-md-12">
      <form method="POST" action="/task">
        <label for="title">New task:</label>
        <input type="text" name="title" required/>

        <label for="description">Description:</label>
        <input type="text" name="description"/>
        <button>Create</button>
      </form>
    </div>
  </div>
{% endblock %}