li {
    list-style: none;
    display: flex;
}

.todo-bullet {
    padding: 0 9px
}

.checkbox {
    background: none;
    border: none;
    /* margin: none; */
}

.checkmark {
    margin: 0 7px;
}

.task-title {
    display: inline;
    font-weight: bold;
}