{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for status, list in data.tasks.items() %}
          <h6>{{ status.name }}</h6>
          {% for task in list %}
            <li>
              {% if task.status.value == 1 %}
                <span class="checkmark">&check;</span>
              {% else %}
                <form method="post" action="/task/{{ task.id }}">
                  <input type=submit class="checkbox" value="&#9744;">
                </form>
              {% endif %}
              <p class="task-title">{{ task.title }}</p>
              {% if task.description != "" %}
                <p class="task-description">:&nbsp;{{ task.description }}</p>
              {% endif %}
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-12">
      <form method="POST" action="/task">
        <label for="title">New task:</label>
        <input type="text" name="title" required/>

        <label for="description">Description:</label>
        <input type="text" name="description"/>
        <button>Create</button>
      </form>
    </div>
  </div>
{% endblock %}